{% extends 'base.html' %}
{% block body %}
<div class="jumbotron my-5">
  <h1 class="display-4">{{post.name}}</h1>
  <hr class="my-4">
  <p>카테고리 : {{post.category}}</p>
  <hr class="my-4">
  <p>대체상품 : {{post.replace}}</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/board/edit/{{post.id}}/" role="button">수정</a>
  <a class="btn btn-primary btn-lg" href="/board/delete/{{post.id}}" role="button">삭제</a>
</div>
<div class="contianer">
  <form action="/board/{{post.id}}/comment/create/" class="my-3">
    <input type="text" class="px-5" name=content>
    <input type="submit" value="추가">
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in post.comment_set.all %}
    <tr>
      <th scope="row">{{comment.id}}</th>
      <td>{{comment.content}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}