{% extends 'base.html' %}
{% block body %}
<form class="my-5" action="/board/update/{{post.id}}/">
  <div class="form-group">
    <label for="name">한글 상품명</label>
    <input type="text" class="form-control" id="name" name="name" value="{{post.name}}" >
  </div>
  <div class="form-group">
    <label for="name_en">영문 제품명</label>
    <input type="text" class="form-control" id="name_en" name="name_en" value="{{post.name_en}}">
  </div>
  <div class="form-group">
    <label for="category">카테고리</label>
    <select class="form-control form-control-sm" id="category" name="category" aria-valuetext="{{post.category}}">
      <option>생활</option>
      <option>음식</option>
      <option>가전</option>
      <option>화장품</option>
      <option>의약품</option>
      <option>패션</option>
      <option>취미</option>
      <option>자동차</option>
      <option>육아/아동</option>
      <option>반려동물</option>
      <option>기타</option>
    </select> 
  </div>
  <div class="form-group">
    <label for="nation">국적</label>
    <select class="form-control form-control-sm" id="nation" name="nation" aria-valuetext="{{post.nation}}">
      <option>일본</option>
      <option>일본 포함 다국적</option>
      <option>기타</option>
    </select>
  </div>
  <div class="form-group">
    <label for="replace">대체상품 - 제품들을 콤마(,)로 구분해주세요</label>
    <input type="text" class="form-control" id="replace" name="replace" value="{{post.replace}}">
  </div>
  <!-- <div class="form-group">
    <label for="name_en">영문 제품명</label>
    <input type="text" class="form-control" id="name_en" name="name_en">
  </div> -->
  <button type="submit" class="btn btn-primary">수정하기</button>
</form>
{% endblock %}